.cartitems{
    margin: 50px 100px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 10px 0px;
    color: beige;
    font-size: 20px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.carticon-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitems-down{
    display: flex;
    margin: 50px 0px;
}

.cartitems-total{
    border: 1px solid #D0D0D0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(40, 50, 51);
    color: beige;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    gap: 15px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    align-content: center;
}

.cartitems-promocode p{
    color: rgb(177, 177, 168);
}

.cartitems-promobox{
    width: 310px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 200px;
    height: 50px;
}

.cartitems-promobox button{
    width: 110px;
    height: 50px;
    font-size: 16px;
    background: linear-gradient(90deg, #c9ba8b, #f5c905 80%);
    border: none;
    font-weight: 800;
    color: rgb(7, 7, 7);
    cursor: pointer;
    border-bottom-right-radius: 30px;
}




