.shopcategory-banner{
    display: block;
    margin-bottom: 50px;
    width: 100%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 114px;
    gap: 105vh;
    align-items: center;
}

.shopcategory-sort{
    background-color: #f05f0c;
    color: beige;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p{
    color: beige;
}

.shopcategory-indexSort p span{
    color: beige;
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 114px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    width: 200px;
    height: 69px;
    border-radius: 75px;
    background:  #f05f0c;
    color: beige;
    font-size: 18px;
    font-weight: 500;
}