.new-collections{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 155vh;
}

.new-collections h1{
    color: beige;
    font-size: 30px;
    font-weight: 600;
}

.new-collections hr{
    width: 22vh;
    height: 3px;
    border-radius: 10px;
    background-color: beige;
}

.collections{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}